<html>
  <head>
    <title>Zodiac signs!</title>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="blogApp" ng-controller="MainCtrl">
	<div style="background-color :black; padding: 25; text-align: center;" >
		<h1 style="font-family: lobster; color: white;"><i>Zodiac Signs and their Meanings</i></h1>
	</div>
	<br/><br/>
    <div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div ng-repeat="sign in zodiacSigns">
      <table>
		<tr>
			<td rowspan = "3"></td> 
			<td><h4><i>{{sign.name}} - {{sign.meaning}}<i></h4></td>
		</tr>
		<tr>
			<td>{{sign.duration}}</td>
		</tr>
		<tr>
			<td>{{sign.description}}</td>
		</tr>
	  </table>
	  <br/>
    </div>
	<div>	
	<h4>Comments</h4>
	<div class="row" ng-repeat="rec in comments">
				<div class="col-xs-9">
					{{rec.commentTxt}}
				</div>
				<div class="col-xs-3">
					<span>By: <span>{{rec.by}}<br/>
					<span>On: <span>{{rec.on}}
				</div>
				
	</div>
	<br/>
	<div class="row">
					<form ng-submit="addComment()">
					<div class="col-xs-10"><textarea ng-model="newComment" style="width: 100%;"></textarea></div>
					<div class="col-xs-2"><button type="submit">Add Comment</button></div>
					</form>
	</div>
	</div>
		</div>
	</div>
  </body>
</html>